.move__top {
  background-color: var(--color-primary-variant);
  padding: 0.5rem;
  position: fixed;
  border-radius: 160%;
  border: 1px solid var(--color-primary);
  z-index: 23;
  bottom: 2rem;
  right: 2rem;
  color: var(--color-bg);
}
.move__top:hover {
  background-color: var(--color-bg);
}

@media screen and (max-width: 600px) {
  .move__top {
    display: none;
  }
}
