.header-social-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  bottom: 4rem;
  left: 8rem;
  align-items: center;
}

.header-social-container::after {
  content: "";
  width: 2px;
  height: 1.4rem;
  background-color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .social-container {
    display: none;
  }
}
