.contact__card {
  padding: 1rem;
  width: 17rem;
  border: 1px solid var(--color-primary);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-variant);
  gap: 1rem;
}

.contact__card:hover {
  background-color: inherit;
}
