@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-bg-transparent: rgba(44, 44, 108, 0.7);
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.5);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.5);
  --transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
  max-width: 1800px;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
}

section {
  min-height: 100vh;
  padding-top: 4rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: fit-content;
  display: block;
  padding: 0.75rem 1.2rem;
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn-primary:hover {
  color: var(--color-primary);
  background: var(--color-white);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

input,
textarea {
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  background-color: inherit;
  border: 1px solid var(--color-primary);
  color: var(--color-white);
  width: 100%;
}

input:hover,
textarea:hover {
  border: 1px solid var(--color-primary);
}
